body {
    background-color: #edeff0;
}

.GangetreningPassphrasePanel > div {
    background-color: #000000;
    border: 0;
}

.GangetreningPassphraseText {
    color: #edeff0;
}

.GangetreningPassphraseListItem {
    list-style: none;
}

.GangetreningPassphraseInput {
    color: #000000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.GangetreningPanelBody {
    display: flex;
    justify-content: center;
}

.GangetreningWrongAnswer {
    background-color: #e41f1f;
}

.GangetreningCircleFigure {
    margin: 5rem;
    max-width: 50rem;
    flex-grow: 1;
}

.GangetreningCircle {
    fill: transparent;
    stroke-width: 2;
}

.GangetreningWrong {
    stroke: #FF6559;
}

.GangetreningCorrect {
    stroke: #C7F556;
}

.GangetreningNeutral {
    stroke: #4A9AC1;
}

.GangetreningRingContent {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.GangetreningAnswerInput {
    border: 1px solid #edeff0;
    color: #edeff0;
    background-color: transparent;
    width: 7rem;
    padding: 0.3rem;
}
