body {
    background-color: #edeff0;
}

.PassphrasePanel > div {
    background-color: #000000;
    border: 0;
}

.PassphraseText {
    color: #edeff0;
}

.PassphraseListItem {
    list-style: none;
}

.PassphraseInput {
    color: #000000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.PanelBody {
    display: flex;
    justify-content: center;
}

.WrongAnswer {
    background-color: #e41f1f;
}

.CircleFigure {
    margin: 5rem;
    max-width: 50rem;
    flex-grow: 1;
}

.Circle {
    fill: transparent;
    stroke-width: 2;
}

.Wrong {
    stroke: #FF6559;
}

.Correct {
    stroke: #C7F556;
}

.Neutral {
    stroke: #4A9AC1;
}

.RingContent {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.AnswerInput {
    border: 1px;
    border-color: #edeff0;
    color: #000000;
    width: 10rem;
    padding: 0.3rem;
}
