body {
    background-color: #edeff0;
}

.PassphrasePanel > div {
    background-color: #000000;
    border: 0;
}

.PassphraseText {
    color: #edeff0;
}

.PassphraseListItem {
    list-style: none;
}

.PassphraseInput {
    color: #000000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.WrongAnswer {
    background-color: #e41f1f;
}
